
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #01013d;
    color: #5552f1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: #010202;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header a {
    text-decoration: none;
    color: rgb(0, 175, 137);
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.header a:hover {
    color: #00c3ff;
}

.routine-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

.routine-item {
    background: rgb(131, 0, 124);
    box-shadow: 0 4px 6px rgba(8, 94, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.routine-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 174, 255, 0.2);
}

.routine-item p {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #ff008c;
    color: #5c35eb;
}

.routine-item small {
    font-size: 12px;
    color: #ffffff;
}

.routine-item ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.routine-item ul li {
    font-size: 14px;
    margin-bottom: 5px;
    color: #dbdbdb;
}

.add-routine {
    display: inline-block;
    padding: 12px 24px;
    background-color: #094116;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.add-routine:hover {
    background-color: #091f0d;
    transform: translateY(-2px);
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #ffffff;
}
