body {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: #212529;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #343a40;
}

.header a {
    text-decoration: none;
    color: #f102be;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s, transform 0.2s;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    color:#11ffcb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background: linear-gradient(135deg, #000ba1, #005858);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.header a:hover {
    color: #8f008f;
    transform: scale(1.1);
}

.goal-button {
    display: block;
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goal-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.goal-button span {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    white-space: normal;
    font-size: 0.9rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goal-button:hover span {
    display: block;
    animation: fadeIn 0.3s ease;
    translate: 300px -50px 0px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.day-button {
    display: inline-block;
    margin: 5px;
    padding: 5px 8px;
    border: 2px solid #007BFF;
    background: white;
    color: #007BFF;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s, color 0.3s;
}

.day-button.selected {
    background: #007BFF;
    color: white;
}

.day-button:hover {
    background: #e7f3ff;
}

/* Equipment checkbox styling */
.equipmentPresent label {
    display: block;
    margin: 5px 0;
    font-size: 16px;
}

input[type="checkbox"] {
    accent-color: #58a6ff; 
    transform: scale(1.2);
    margin: 5px auto;
}

label {
    font-size: 1.2rem;
}

button[type="submit"] {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #0081eb; 
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.error {
    color: #7a0000;
    background: #e0fbff;
    border: 3px solid #000000;
}