body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d1117; 
    color: #c9d1d9; 
    text-align: center;
}

header {
    background-color: #161b22; 
    color: #125eb6; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #30363d; 
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

main {
    padding: 20px;
}

h2 {
    color: #ff0880; 
    border-bottom: 2px solid #30363d;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

p, label {
    font-size: 1rem;
    line-height: 1.6;
}

strong {
    color: #7200a7; 
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: #161b22;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    width: 80%;
}

input[type="checkbox"] {
    accent-color: #58a6ff; 
    transform: scale(1.2);
    margin: 15px auto;
}

button {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #0081eb; 
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #004cd8; 
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
    margin: 15px auto;
    width: 80%;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #21262d; 
    border-radius: 8px;
    color: #c9d1d9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

a {
    color: #c00232; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

a:hover {
    color: #00ff95; 
    transform: translateY(-3px);
}

footer {
    margin-top: 30px;
    padding: 15px;
    background-color: #161b22; 
    color: #c9d1d9; 
    text-align: center;
    border-top: 2px solid #30363d;
}

#rhome {
    display: inline-block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #0d419d;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#rhome:hover {
    background-color: #1e6fbd; 
    transform: translateY(-5px) scale(1.1);
}

.setting {
    text-align: center;
    align-self: center;
}
