<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Step Vertification</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="otp_input">Enter your one time vertification code</label>
                <input type="text" id="otp_input" name="OTP" required>
            </div>
            <button type="submit">Login</button>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </form>
        <p>Go back <a href="{% url 'login' %}">to login</a></p> 
        <p>Need an account? <a href="{% url 'signup' %}">Sign up!</a> </p>
    </div>
</body>
</html>