<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    {% if dark_mode %}
    <link rel="stylesheet" href="{% static 'homepage_darkMode.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'homepage_lightMode.css' %}">
    {% endif %}
    
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Routine Dashboard</h1>
            <a href="{% url 'settings' %}">Settings</a>
        </div>
        {% if routine_details %}
        <div class="routine-list">
            {% for routine in routine_details %}
                <div class="routine-item" onclick="viewRoutine('{{ routine.id }}')">
                    <p><strong>{{ routine.name }}</strong></p>
                    <small>ID: {{ routine.id }}</small>
                    <p><small>{{ routine.details|length }} days per week</small></p>
                    <p><small>{{ routine.setsPerDay }} average sets per day</small></p>
                    <p><small>{{ routine.timePerDay }} minutes per day (estimated) </small></p>
                  
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No routines available. Start by adding a new routine.</p>
        {% endif %}
        <a href="{% url 'add_routine' %}" class="add-routine">+ Add Routine</a>
        <script>
            function viewRoutine(routineId) {
                window.location.href = `/view_routine/${routineId}`;
            }
        </script>
    </div>
</body>
</html>

         