<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routine Generator - Choose your goal</title>
    {% if dark_mode %}
    <link rel="stylesheet" href="{% static 'routineGen_darkMode.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'routineGen_lightMode.css' %}">
    {% endif %}
    
</head>
<body>
    <div class="header">
        <h1>Choose Your Goal</h1>
        <a href="{% url 'dashboard' %}">Back</a>
    </div>

    {% for key, goal in goals.items %}
    <button class="goal-button" id="{{goal.Type}}" type="button">
        {{ goal.Type }}
        <span>{{ goal.Description }}</span>
    </button>
    {% endfor %}

    <script>

        const goalButtons = document.querySelectorAll('.goal-button');
        goalButtons.forEach(button => {
            button.addEventListener('click', () => {
                const goalKey = button.getAttribute('id').replace(' ', '-').replace('/','-');
                window.location.href = `/dashboard/add_routine/routineConfig/${goalKey}/`;
            });
        });
    </script>
</body>
