<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routine Details</title>
    {% if dark_mode %}
    <link rel="stylesheet" href="{% static 'routineGen_darkMode.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'routineGen_lightMode.css' %}"> <!--need to make css-->
    {% endif %}
</head>
<body>
    <h1>Routine Details</h1>
    <h2>Routine ID: {{ routine_id }}</h2>
    
    {% for day, exercises in routine.items %}
        <h3>{{ day }}</h3>
        <ul>
            {% for exercise, details in exercises.items %}
                <li>
                    <strong>{{ exercise }}</strong><br>
                    Sets: {{ details.Sets }}<br>
                    Rep Scheme: {{ details.RepScheme }}<br>
                    <embed type="Video" src="{{ details.VideoLink }}" width="200px" height="150px "></embed>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
