<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routine Details</title>
    {% if dark_mode %}
    <link rel="stylesheet" href="{% static 'routineGen_darkMode.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'routineGen_lightMode.css' %}"> <!--need to make css-->
    {% endif %}
</head>
<body>
    <div class="header">
        <h1>Routine Display</h1>
        <a href="{% url 'dashboard' %}">Back to home</a>
    </div>
    <br>
    <h3>ID: {{routine_id}}</h3>

    
    {% for day, exercises in routine.items %}
        <h3>{{ day }}</h3>
        <ul>
            {% for exercise, details in exercises.items %}
                <div class="exer">
                    <strong>{{ exercise }}</strong><br>
                    Sets: {{ details.Sets }}<br>
                    Rep Scheme: {{ details.RepScheme }}<br>
                    {% if details.VideoLink %}
                    <iframe width="100" height="75" src="{{details.VideoLink}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"> </iframe>
                    {% else %}
                    <p>Video unavailable (for now)</p>
                    {% endif %}
                    <br>
                    
                </div>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
