<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Routine Generator - Login</title>
    {% if dark_mode %}
    <link rel="stylesheet" href="{% static 'settings_darkMode.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% endif %}
</head>
<<body>
    <header>
        <h1>Settings</h1>
    </header>

    <main>
        <section id="user-info">
            <h2>User Information</h2>
            <p><strong>Name:</strong> {{ user_data.name }}</p>
            <p><strong>Username:</strong> {{ user_data.username }}</p>
            <p><strong>Email:</strong> {% if user_data.settings.privacy_settings.logEmail %} {{ user_data.email }} {% else %}  {{ user_data.email }} (Hidden) {% endif %}</p>
        </section>

        <section id="settings-options">
            <h2>Account Settings</h2>
            <form action="{% url 'settings' %}" method="POST">
                {% csrf_token %}
                <label for="2auth">Enable Two-Factor Authentication:</label>
                <input type="checkbox" id="2auth" name="2auth" {% if user_data.settings.2auth %}checked{% endif %}><br>

                <label for="dark_mode">Enable Dark Mode:</label>
                <input type="checkbox" id="dark_mode" name="dark_mode" {% if user_data.settings.dark_mode %}checked{% endif %}><br>

                <label for="logEmail">Show Email Address in Development Logs:</label>
                <input type="checkbox" id="logEmail" name="logEmail" {% if user_data.settings.privacy_settings.logEmail %}checked{% endif %}><br>

                <button type="submit">Save Changes</button>
            </form>
        </section>

        <section id="user-routines">
            <h2>Your Routines</h2>
            <ul>
                {% for routine in user_data.routines %}
                    {% for key, value in routine.items %}
                    <li>{{ value }} (ID: {{ key }})</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </section>
    </main>
    <a href="{%url 'dashboard' %}">Back to home</a>
    <footer>
        <p>&copy; 2024 Workout Routine Generator</p>
    </footer>
</body>
</html>